body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    width: 400px;
    text-align: center;
    transition: transform 0.2s;
}

.container:hover {
    transform: scale(1.05);
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

#search-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

#search-input:focus {
    border-color: #007bff;
}

#search-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#search-button:hover {
    background-color: #0056b3;
}

#pokemon-info {
    margin-top: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
}

#pokemon-info p, 
#pokemon-info h2 {
    margin: 10px 0;
    font-size: 18px;
}

#pokemon-name {
    font-size: 24px;
    color: #007bff;
}

#types p {
    display: inline-block;
    background-color: #e0e0e0;
    border-radius: 4px;
    padding: 2px 8px;
    margin: 2px;
}

#sprite {
    display: block;
    margin: 15px auto 0;
    width: 150px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.card h2 {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #555;
}
